body {
    font-family: 'Trebuchet MS', sans-serif;
    text-align: left;
}

.container {
    width: 50%;
    min-width: 300px;
    max-width: 600px;
    height: 96%;
    min-height: 300px;
    padding: 2%;
    border: 2px solid gray;
    border-radius: 3px;
    box-shadow: 10px 10px 5px lightgray;
    display: inline-block;
    text-align: left;
}

.listItem {
    padding: 10px;
    font-size: 20px;
    border-bottom: 1px solid lightgray;
}

.done {
    text-decoration: line-through;
    color: lightgray;
}